
@font-face {
    font-family: dual;
    src: url(../fonts/dual/Dual-300.ttf);
    font-weight: bold;
}

body {
  background:url('../images/abstract-space.jpg');
  color:white;
  font-family: dual;
  padding: 0;
  margin: 0;
}

input {
  background-color: transparent;
  border: none;
  color:white;
}
.control-panel {
  width: 210px;
  position: fixed;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  left: -270px;
  top: 20px;
  z-index: 20;
}

.panel-header {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.slider {
  display: block;
}

.control {
  margin-bottom: 20px;
}

.inline {
  display: inline-block;
}

.coord {
  width: 55px;
}

#globe {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.citation {
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: yellow;
  z-index: 20;
}
