
@font-face {
    font-family: dual;
    src: url(../fonts/dual/Dual-300.ttf);
    font-weight: bold;
}

body {
  background:url('../images/abstract-space.jpg');
  color:white;
  font-family: dual;
  padding: 15px;
}

input {
  background-color: transparent;
  border: none;
  color:white;
}
.control-panel {
  width: 210px;
  height: 200px;
  position: fixed;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}
.toggle-button{
  height: 18px;
  top: 0;

}
.ui-slider{
  height: 5px;
  width: 80%;
}
.ui-slider-horizontal {
  height: 3px !important;
}
.ui-slider-handle {
  border-radius: 0 !important;
  height: 15px !important;
  width: 5px !important;
}
